body{font-family:Arial;color:white;background:#050816;padding:20px}
.container{max-width:700px;margin:auto;background:rgba(255,255,255,.08);padding:20px;border-radius:20px}
input,textarea,button{display:block;width:100%;margin:10px 0;padding:12px}